# Groupby

The groupby method allows you to group rows of data together and call aggregate functions

In [2]:
import pandas as pd
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [8]:
df = pd.DataFrame(data)

In [9]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [10]:
df.groupby('Company')['Sales'].mean()

Company
FB      296.5
GOOG    160.0
MSFT    232.0
Name: Sales, dtype: float64

** Now you can use the .groupby() method to group rows together based off of a column name. For instance let's group based off of Company. This will create a DataFrameGroupBy object:**

In [11]:
df.groupby('Company')

You can save this object as a new variable:

In [12]:
by_comp = df.groupby("Company")

And then call aggregate methods off the object:

In [17]:
by_comp.mean()

TypeError: Could not convert CarlSarah to numeric

In [ ]:
df.groupby('Company').mean()

More examples of aggregate methods:

In [ ]:
by_comp.std()

In [ ]:
by_comp.min()

In [ ]:
by_comp.max()

In [ ]:
by_comp.count()

In [ ]:
by_comp.describe()

In [ ]:
by_comp.describe().transpose()

In [ ]:
by_comp.describe().transpose()['GOOG']

In [3]:
df=pd.read_csv('data.csv')
df

           Car       Model  Volume  Weight  CO2
0       Toyoty        Aygo    1000     790   99
1   Mitsubishi  Space Star    1200    1160   95
2        Skoda      Citigo    1000     929   95
3         Fiat         500     900     865   90
4         Mini      Cooper    1500    1140  105
5           VW         Up!    1000     929  105
6        Skoda       Fabia    1400    1109   90
7     Mercedes     A-Class    1500    1365   92
8         Ford      Fiesta    1500    1112   98
9         Audi          A1    1600    1150   99
10     Hyundai         I20    1100     980   99
11      Suzuki       Swift    1300     990  101
12        Ford      Fiesta    1000    1112   99
13       Honda       Civic    1600    1252   94
14      Hundai         I30    1600    1326   97
15        Opel       Astra    1600    1330   97
16         BMW           1    1600    1365   99
17       Mazda           3    2200    1280  104
18       Skoda       Rapid    1600    1119  104
19        Ford       Focus    2000    1328  105
20        Ford      Mondeo    1600    1584   94
21        Opel    Insignia    2000    1428   99
22    Mercedes     C-Class    2100    1365   99
23       Skoda     Octavia    1600    1415   99
24       Volvo         S60    2000    1415   99
25    Mercedes         CLA    1500    1465  102
26        Audi          A4    2000    1490  104
27        Audi          A6    2000    1725  114
28       Volvo         V70    1600    1523  109
29         BMW           5    2000    1705  114
30    Mercedes     E-Class    2100    1605  115
31       Volvo        XC70    2000    1746  117
32        Ford       B-Max    1600    1235  104
33         BMW         216    1600    1390  108
34        Opel      Zafira    1600    1405  109
35    Mercedes         SLK    2500    1395  120

In [4]:
df.groupby(['Car'])['CO2'].mean().sort_values(ascending=False)

Car
Volvo         108.333333
BMW           107.000000
Audi          105.666667
Mercedes      105.600000
Mini          105.000000
VW            105.000000
Mazda         104.000000
Opel          101.666667
Suzuki        101.000000
Ford          100.000000
Hyundai        99.000000
Toyoty         99.000000
Hundai         97.000000
Skoda          97.000000
Mitsubishi     95.000000
Honda          94.000000
Fiat           90.000000
Name: CO2, dtype: float64

In [5]:
df.groupby(['Car'])['Weight'].mean().sort_values(ascending=False)

Car
Volvo         1561.333333
BMW           1486.666667
Audi          1455.000000
Mercedes      1439.000000
Opel          1387.666667
Hundai        1326.000000
Mazda         1280.000000
Ford          1274.200000
Honda         1252.000000
Mitsubishi    1160.000000
Skoda         1143.000000
Mini          1140.000000
Suzuki         990.000000
Hyundai        980.000000
VW             929.000000
Fiat           865.000000
Toyoty         790.000000
Name: Weight, dtype: float64

In [6]:
df.groupby(['Car','Model'])['CO2'].mean()

Car         Model
Audi        A1             99.0
            A4            104.0
            A6            114.0
BMW         1              99.0
            216           108.0
            5             114.0
Fiat        500            90.0
Ford        B-Max         104.0
            Fiesta         98.5
            Focus         105.0
            Mondeo         94.0
Honda       Civic          94.0
Hundai      I30            97.0
Hyundai     I20            99.0
Mazda       3             104.0
Mercedes    A-Class        92.0
            C-Class        99.0
            CLA           102.0
            E-Class       115.0
            SLK           120.0
Mini        Cooper        105.0
Mitsubishi  Space Star     95.0
Opel        Astra          97.0
            Insignia       99.0
            Zafira        109.0
Skoda       Citigo         95.0
            Fabia          90.0
            Octavia        99.0
            Rapid         104.0
Suzuki      Swift         101.0
Toyoty      Aygo           99.0
VW          Up!           105.0
Volvo       S60            99.0
            V70           109.0
            XC70          117.0
Name: CO2, dtype: float64

In [8]:
df=pd.read_csv('data.csv')

In [15]:
df.groupby(by=['Car','Model'])['Volume','Weight','CO2'].mean()

ValueError: Cannot subset columns with a tuple with more than one element. Use a list instead.